html {
    font-family: Arial;
    text-align: center;
}

body {
    background-image: url("../data/images/background.png"); 
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
